.BaseCard {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    float: right;
    padding: 15px 26px;
    border-radius: 5px;
}


.BaseCard img {
    width: 25%;
    float: right;
}
.BaseCard:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.3);
}
