.Topbar{
    height: 50px;
    
}
a {
    color: whitesmoke;
}

.Topbar h2{
    margin: 0;
    text-align: center;
    padding-top: 6px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}