.ChartArea{
    color: white;
}

.leftChart{
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  width:100%; 
}
.leftChart:hover{
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.3);

}

.Team{
  color:grey;
  transition: 0.3s;
  
}
.Team:hover{
  color:white
}