
.Grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:1em;
    margin-top: 1%;
    
}

.Center_Grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1em;
    margin-top: 1%;
    
}